*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

.banner{
    background-image: url('../../../public/Images/asd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 50%;
    min-width: 100%;
    min-height: 100vh;
}


.title{
    padding-top: 20px;
    font-size: 50px;
    min-width: 100vw;
    text-align: center;

}

.container{
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    min-height: 500px;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;

}
.cardsContainer >*{
    justify-content: center;
}

.cards{
    padding: 10px;
    margin: 10px;
}
.cardContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rating > svg{
    font-size: 60px;
    color: yellow;
    stroke: black ;
    stroke-width: 0.2px;
}
.rating{
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.trainerImage{
    background-position: 50% 10%;
    background-repeat: no-repeat;
}

.registration{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.registration > *{
    font-size: 80px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.quote{
    font-size: 40px;
}

.trainerError{
    margin-top: 5vh;
}

@media only screen and (max-width: 720px) {
    .registration h3{
        width: 500px;
    }
}



