*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: #e0e0e0;
}

.banner{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, #dcdcdc 100%),
    url('../../../public/Images/asd.jpg') no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 50%;
    min-width: 100%;
    min-height: 100vh;
}


.title{
    padding-top: 20px;
    font-size: 50px;
    min-width: 100vw;
    text-align: center;

}

.container{
    background-color: #dcdcdc;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    min-height: 500px;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;

}
.cardsContainer >*{
    justify-content: center;
}

.cards{
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

}
.cardContent{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;

}


.rating > svg{
    font-size: 35px;
    color: #ffde16;
}
.rating{
    display: flex;
    font-size: 24px;
    align-items: center;
}

.trainerImage{
    background-position: 50% 10%;
    background-repeat: no-repeat;

}

.registration{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.registration > *{
    font-size: 80px;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.quote{
    font-size: 40px;
}

.trainerError{
    margin-top: 5vh;
}

@media only screen and (max-width: 720px) {
    .registration h3{
        width: 500px;
    }
}



