.container{
    margin: 100px;
    min-height: 90vh;
    text-align: center;
    background-color: lightgray;
}


.container >*{
    display: flex;
    flex-direction: column;
}

.blogContainer{
    display: flex;
    flex-direction: row;
}
.blog{
    margin: 10px;
}


body{
    overflow-x: hidden;
}


.trainerButtons{
    display: flex;
    justify-content: space-between;
    margin-left: 400%;
}

.trainerButtons >*{
    margin-left: 10px;
    margin-right: 10px;
}
