    .container{
        margin: 80px;
        min-height: 90vh;
        text-align: center;
    }
    .blogs{

    }


    .container >*{
        display: flex;
        flex-direction: column;
    }

    .blogContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .blog{
        margin: 50px;
        overflow-y: hidden !important;
    }



    .trainerButtons{
        display: flex;
        justify-content: space-between;
    }

    .trainerButtons >*{
        margin-left: 10px;
        margin-right: 10px;
    }

    .card{
        width: 500px;
    }

    .blogError{
        margin-top: 5vh;
    }

    @media (max-width: 500px){
        .card{
            width: 200px !important;
        }
    }

    @media (max-width: 800px){
        .card{
            width: 400px;
            font-size: 25px !important;
        }

    }