.login{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}


.buttons{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    min-width: 450px;
}
.container h3{
    text-align: center;
}

.inputs{
    padding: 30px;
    margin-bottom: 10px;
}
.inputs > *{
    margin: 10px;
    padding: 10px;
}
@media (max-width: 500px) {
    .container{
        min-width: 100px;
    }
}

