
.body{
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content:flex-start;
  }
  
.container{
    width: 100%;
    margin: 0; 
    padding: 0;
    
}
  
.nav{
    min-height: 80px;
    background-color: #333; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
    font-size: larger;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    overflow: hidden;
}
.nav div{
    float: left; 
    display: block;
    color: #f2f2f2;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}
.nav Button{
    padding: 14px 16px;
}
.pageBlog:hover, .pageTraining:hover{
    color: lightgray;
}

.loginButton{
    color: black !important;
    font-weight: bold;
}

.pages{
    font-size: 20px;
}
@media only screen and (max-width: 720px) {
    .pages {
        font-size: 1.5rem;
    }
    .loginButton{
        font-size: 1.5rem !important;
    }
    .pageBlog, .pageTraining{
        margin: 10px;
    }
}

