.container {
    margin-top: 100px;
    padding: 10px;
}

.blogTitle {
    text-align: center;
}

.blogText {
    display: flex;
    padding: 30px 50px 50px 50px;
    font-size: 1.2rem;
    line-height: 1.6;
    justify-content: space-between;
}
.textContent{
    max-width: 500px;
}


.blogText .kep {
    position: sticky;
    float: right;
    margin: 0 0 20px 20px;
    max-width: 500px;

}

.blog{
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    min-width: 400px;
    height: 100%;
}
.moreBlogImage{
    height: 250px;
}
.moreBlogImage img{
    height: 250px !important;
}
.moreBlogs h1{
    text-align: center;
    margin: 20px;
}

@media (max-width: 800px){
    .container {
        min-width: 100%;
        justify-content: center;
        overflow-x: hidden;
    }
    .textContent {
        width: 400px;
        font-size: 25px !important;
    }
    .kep{
        width: 300px;
        overflow-x: hidden;
    }
    .kep img{
        width: 100%;
        height: auto;
    }
    .test{
        width: 100%;
    }

}