.container {
    margin-top: 100px;
    padding: 10px;
}

.blogTitle {
    text-align: center;
}

.blogText {
    display: flex;
    padding: 30px 50px 50px 50px;
    font-size: 1.2em;
    line-height: 1.6;
}

.textContent{
}

.blogText .kep {
    position: sticky;
    float: right;
    margin: 0 0 20px 20px;
}

.blog{
    margin: 50px;
    overflow-y: hidden !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    min-width: 200px;
}