
.calendar{
    justify-content: center;
    border-radius: 5px;
    height: 85vh;
}
.calendarWeek{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.program {
    text-align: center;
    padding: 15px;
    min-width: 200px;
    max-width: 400px;
    min-height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fffcfc;
    overflow-x: hidden;
}

.programOnDay{
    text-align: center;
    margin-top: 20px;
}
.programOnDay p{
    margin: 10px;
}

.dates{
    margin: auto;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.dates h3{
    display: inline;
}

.status{
    display: flex;
    text-align: left;
    margin: 10px 10px 10px 20px;
}
.signUpButton{
    margin: 20px;
}
@media (max-width: 800px){
    .calendar{
        font-size: 25px;
        margin: 55px;
    }
    .dates{
        margin: 15px;
    }
    .status svg{
        font-size: 35px;
    }
    .calendarWeek{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

