.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    min-width: 300px;
}

.container h3{
    text-align: center;
}

.tabText{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
.tab{
    padding: 0px
}



.container .closeButton{
    margin-top: 10px;
}



.buttons{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


